<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Free to Play Games</title>
    
    <!-- Icons -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap" rel="stylesheet">

</head>

<!-- Add Header -->
<%- include("partials/header") %>
<!-- -->

<body>
    <div class="games-container">
        
        <% var totalGames = articles.length %>
        <div class="top-text-container">

            <div class="total-games-message-div">
                <p class="total-games-message"> We found <%= totalGames %> free games for you! 🎮 </p>
            </div>

            <!-- "Sort by" feature -->

            <div class="sort-button-dropdown">

                <a href="#" class="sort-button">
                    <span>Sort by</span>
                    <img class="dropdown-icon" src="images/down-arrow.png" alt="down arrow for sort by">
                </a>

                                <!-- Sort by multiple parameters (two parameters) -->

                    <div class="sort-by-hidden-content">

                        <form action="/games" method="GET">
                            <input type="hidden" name="category" value="<%= category %>">
                            <input type="hidden" name="sort-by" value="release-date">
                            <button class="sort-option dropdown-btn-style">Release Date </button>
                        </form>
                        <form action="/games" method="GET">
                            <input type="hidden" name="category" value="<%= category %>">
                            <input type="hidden" name="sort-by" value="alphabetical">
                            <button class="sort-option dropdown-btn-style">Alphabetical </button>
                        </form>
                        <form action="/games" method="GET">
                            <input type="hidden" name="category" value="<%= category %>">
                            <input type="hidden" name="sort-by" value="relevance">
                            <button class="sort-option dropdown-btn-style">Relevance </button>
                        </form>
                        <form action="/games" method="GET">
                            <input type="hidden" name="category" value="<%= category %>">
                            <input type="hidden" name="platform" value="pc">
                            <button class="sort-option dropdown-btn-style">PC Only</button>
                        </form>
                        <form action="/games" method="GET">
                            <input type="hidden" name="category" value="<%= category %>">
                            <input type="hidden" name="platform" value="browser">
                            <button class="sort-option dropdown-btn-style">Play on Browser </button>
                        </form>
                        
                    </div>
            </div>
        </div>

        <!-- Main content -->
        
        <div class="game-card-container"> 
            
            <% if (articles.length > 0 && locals.category) { %>

                <% articles.forEach(article => { %>

                    <a href="/games?id=<%- article.id %>" class="game-card">
                        <img src="<%- article.thumbnail %>" alt="<%- article.title %>">
                        <h2><%- article.title %></h2>
                        <p class="genre-type"> <span>Genre:</span> <%- article.genre %></p>
                        <p class="genre-type"> <span>Platform:</span> <%- article.platform %></p>
                        <p class="short-description"><%- article.short_description %></p>
                    </a>    
            <% }) %>
            
            <%} else if (articles.length > 0) { %>

                <% articles.forEach(article => { %>

                    <a href="/games?id=<%- article.id %>" class="game-card">
                        <img src="<%- article.thumbnail %>" alt="<%- article.title %>">
                        <h2><%- article.title %></h2>
                        <p class="genre-type"> <span>Genre:</span> <%- article.genre %></p>
                        <p class="genre-type"> <span>Platform:</span> <%- article.platform %></p>
                        <p class="short-description"><%- article.short_description %></p>
                    </a>    
            <% }) %> 

            <% } else { %>
                <h2>No games found</h2>
            <% } %>
        </div> 
    </div>

    <%- include("partials/footer") %>
</body>

</html>